@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: 'OnePiece';
    src: url('./lib/assets/Sayyeda.ttf') format('woff');
}

* {
    font-family: "OnePiece", sans-serif;
}

@layer components {
  .text-shadow {
      text-shadow: 2px 4px 4px black;
  }
}